.footer{

    background:#1d2433;

    color:white;

    padding:70px 20px;

    text-align:center;

}

.footer h2{

    margin-bottom:15px;

}

.footer p{

    color:#ddd;

    margin-bottom:20px;

}