html,
body,
#root {
    min-height: 100%;
    margin: 0;
}

html,
body {
    min-height: 100vh;
}

#root {
    min-height: 100vh;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-main {
    flex: 1;
    width: 100%;
}